name: ghc

# TODO:

on:
  push:
    tags:
      - "*"
    branches:
      - release

  pull_request:

jobs:
  init-ghc-haskell:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check-if-skip.outputs.skip }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: check-if-skip
        uses: ./.github/actions/check-if-skip
        with:
          checksum-file: checksum/ghc_from_haskell.sha256sum

  build-ghc-haskell:
    runs-on: ubuntu-latest
    needs: init-ghc-haskell
    name: build-ghc-haskell (${{ matrix.platform }}, ${{ matrix.ghc }})
    if: ${{ needs.init-ghc-haskell.outputs.skip == 'false' }}
    strategy:
      matrix:
        include:
          # FIXME: disable arm64 builds since it's too slow on ci
          # platform: linux/amd64,linux/arm64
          - platform: linux/amd64
            ghc: 8.10.7
            tag: 8.10.7:8.10

          - platform: linux/amd64
            ghc: 9.2.7
            tag: 9.2.7:9.2:latest

          - platform: linux/amd64
            ghc: 9.4.5
            tag: 9.4.5:9.4

    steps:
      - uses: actions/checkout@v3

      - name: login to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: ./.github/actions/docker-haskell
        with:
          image-name: ghcr.io/hstreamdb/ghc
          dockerfile: dockerfiles/ghc_from_haskell
          platform: ${{ matrix.platform }}
          tag: ${{ matrix.tag }}
          kargs-key: GHC
          kargs-value: ${{ matrix.ghc }}

  # ----------------------
# XXX: Unused
#
#  init-ghc-ppa:
#    runs-on: ubuntu-latest
#    outputs:
#      skip: ${{ steps.check-if-skip.outputs.skip }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - id: check-if-skip
#        uses: ./.github/actions/check-if-skip
#        with:
#          checksum-file: checksum/ghc_from_ppa.sha256sum
#
#  build-ghc-ppa:
#    runs-on: ubuntu-latest
#    needs: init-ghc-ppa
#    if: ${{ needs.init-ghc-ppa.outputs.skip == 'false' }}
#    strategy:
#      matrix:
#        # docker_args:docker_tag:[docker_tag_alias...]
#        ghc: ["8.8.4:8.8.4:8.8"]
#        cabal: ["Cabal-v3.6.2.0"]
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: login to github container registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: build
#        uses: ./.github/actions/docker-haskell
#        with:
#          image-name: ghcr.io/hstreamdb/ghc
#          dockerfile: dockerfiles/ghc_from_ppa
#          ghc: ${{ matrix.ghc }}
#          cabal: ${{ matrix.cabal }}
#
#  init-ghc-builder:
#    runs-on: ubuntu-latest
#    outputs:
#      skip: ${{ steps.check-if-skip.outputs.skip }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - name: check-if-skip
#        id: check-if-skip
#        uses: ./.github/actions/check-if-skip
#        with:
#          checksum-file: checksum/ghc_builder.sha256sum
#
#  build-ghc-builder:
#    runs-on: ubuntu-latest
#    needs: init-ghc-builder
#    if: ${{ needs.init-ghc-builder.outputs.skip == 'false' }}
#    strategy:
#      matrix:
#        # git_tag:docker_tag:[docker_tag_alias...]
#        ghc: ["ghc-8.10.7-release:ghc-8.10.7:8.10.7:8.10", "ghc-9.2.1-release:ghc-9.2.1:9.2.1:9.2"]
#        cabal: ["Cabal-v3.6.2.0:cabal-3.6.2"]
#        include:
#          - ghc: ghc-8.10.7-release:ghc-8.10.7:8.10.7:8.10
#            cabal: Cabal-v3.6.2.0:cabal-3.6.2
#            ghc_base: 8.10.4
#          - ghc: ghc-9.2.1-release:ghc-9.2.1:9.2.1:9.2
#            cabal: Cabal-v3.6.2.0:cabal-3.6.2
#            ghc_base: 8.10.4
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: login to github container registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: build ghc-builder
#        uses: ./.github/actions/docker-haskell
#        with:
#          image-name: ghcr.io/hstreamdb/ghc-builder
#          dockerfile: dockerfiles/ghc-builder
#          ghc: ${{ matrix.ghc }}
#          cabal: ${{ matrix.cabal }}
#          kargs-key: BASE_GHC
#          kargs-value: ${{ matrix.ghc_base }}
#
#  init-ghc-src:
#    runs-on: ubuntu-latest
#    outputs:
#      skip: ${{ steps.check-if-skip.outputs.skip }}
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - id: check-if-skip
#        uses: ./.github/actions/check-if-skip
#        with:
#          checksum-file: checksum/ghc.sha256sum
#
#  build-ghc-src:
#    runs-on: ubuntu-latest
#    needs: init-ghc-src
#    if: ${{ needs.init-ghc-src.outputs.skip == 'false' }}
#    strategy:
#      matrix:
#        # docker_args:docker_tag:[docker_tag_alias...]
#        ghc: ["9.2.1:9.2.1:9.2"]
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: login to github container registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: build
#        uses: ./.github/actions/docker-haskell
#        with:
#          image-name: ghcr.io/hstreamdb/ghc
#          dockerfile: dockerfiles/ghc
#          ghc: ${{ matrix.ghc }}
#          cabal: ""
